header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 1em;
    border: 0;

    .content_1  .img_header {
        width: 3em;
        height: 3em;
    }

        @media screen and (min-width:$small) and (orientation : landscape){
            .content_2 ul  li{
                display: inline-block;
                margin: 0 1em;
            }
            .content_2 ul  li a{
                text-decoration: none;
                font-family: $font_title;
                font-size: $font_second;
            }
        }
    .list_ul{
        display: none;
    }
}

