@import '../components/header/contentHeadOne';
@import '../components/header/contentHeadTwo';
@import '../components/header/ul_header';
@import '../components/header/li_header';
@import '../components/header/hamburger_button';


header{
    &.header{
        display: grid;
        width: 100%;
        max-height: 30vh;

        @include orientationAndMax(portrait, tablet){
            background-color: $pastel_blue;
            @include grid_columns(3, 1fr, 1rem);
            justify-content: end;
            align-items: center;
                @include min-weight(540){
                justify-content: center;
            }
        }
        @include orientationAndMax(landscape, desktop){
            @include grid_columns(3, 1fr, 1rem);
            background-color: $pastel_blue;
            justify-content: center;
            margin: 0;
            @include min-weight(915){
                @include grid_columns(4, 1fr, 1rem);
                background-color: $pastel_blue;
                filter: saturate(0.7);
            }
        }

        .content_1{
            @extend %content_1;
        }
        .content_2{
            @extend %content_2;
            .hamburguer_button{
                @extend %hamburguer_button;
            }
            ul.list_ul{
                @extend %ul_header;
                li{
                    @extend %li_header;
                }
            }
        }
    }
}