//Button hamburguer
.button{
    width: 2.5rem;
    height: 2rem;
    background-color: $primary_color;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s;


    &::before{
        content:'';
        display: block;
    }
    &::after{
        content: '';
        display: block;
    }

    &::before,
    &::after,
    .line{
        position: absolute;
        width: 100%;
        height: 3px;
        background:black;
        transition: all 0.25s;
    }

    &::before{
        top: 0;
    }

    .line{
        top:50%;
        transform: translateY(-50%);
    }

    &::after{
        bottom: 0;
    }
}
.button.active{

    transform:rotate(180deg);
    transform: translateX(-10em);
    .line{
        display: none;
    }
    &::before{
        top:50%;
        transform:translateY(-50%) rotate(45deg);
    }
    &::after{
        bottom:50%;
        transform:translateY(50%) rotate(-45deg);
    }
    .list_ul{
        display: block;
        background-color: $quaternary_color;
        border-radius: 0.6rem;
        transform: translateX(4em)translateY(-2em);
        position: relative;
        width: 7.5em;
        margin: 1em;
    }
    .list_ul li{
        list-style: none;
    }
    .list_ul li a{
        text-decoration: none;
        color: white;
        font-family: $font_title;
        font-size: $font_third;
        margin: 0.5em;
    }
}