main.main{
    background-color: $dark_blue;
    .section_card{
        display: grid;
        @include grid_columns(10, 1fr, 1rem);
        justify-content: center;
    }
}
@import "../components/_card.scss";