%content{
    p{
        font-family: $body-font;
        font-size: $font-size;
    }
    img{
        @include orientation('portrait'){
            @include max-weight(500){
                width: 3rem;
                height: 3rem;
            }
        }
    }
}
$color: true;
.section_me{
    margin: 0;
    padding: 0;
    .about_me{
        margin: 0;
        background-color: $dark_blue;
        color: $white;

        h2#title_about_me{
            @include title();
            margin-bottom: 1rem;
        }

        .p_about_me{
            @include min-weight(650){
                display: grid;
                @include grid-columns(2, 1fr);
            }
        }
        #description_about_me{
            @include grid-column(1, 3);
            background-color: $white;
            margin: 1rem;
            border: 3px solid black;
            border-radius: 2rem;
            @include orientation('portrait'){
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            @include orientation('landscape'){
                display: grid;
                @include grid-columns(2, 1fr);
                justify-content: center;
                align-items: center;
                & > *{
                    padding-bottom: 1rem;
                 }
            }
            @include min-weight(501){
                    display: grid;
                    @include grid-columns(2, 1fr);
                    justify-content: center;
                    align-items: center;
                    & > *{
                        padding-bottom: 1rem;
                    }
            }
            @include min-weight(700){
                margin: 1.5rem;
                padding: 1rem;
            }
            @include min-weight(910){
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

            }
            @include min-weight(1200){
                justify-content: space-around;
            }
            p{
                @include text();
                @include min-weight(910){
                    width: 15rem;
                }
                @include min-weight(1200){
                    width: 20rem;
                }
            }
            img.img_about{
                @include img();
                border-radius: 1rem;
                position: static;
                @include max-weight(500){
                    clip-path: inset(5% 9% 15% 10%);
                    border-radius: 2rem;
                }
                @include orientation(portrait){
                        @include min-weight(530){
                            clip-path: inset(0 9% 0 0);
                        }
                        @include max-weight(750){
                            clip-path: inset(10% 10% 15% 16%);
                        }
                }
                @include orientation(landscape){
                    clip-path: inset(5% 9% 15% 10%);
                    width: 100%;
                }
                @include min-weight(910){
                    clip-path: inset(0 0 0 0);
                    width: 15rem;
                    height: 20rem;
                }
                @include min-weight(1200){
                    width: 20rem;
                }
            }
        }
        #list_I_learn{
            @include grid-column(1, 3);
            background: $white;
            margin: 1rem;
            padding: 0.5rem;
            border: 3px solid black;
            color: $black;
            p{
                margin: 1rem;
            }
            @include min-weight(650){
                @include grid-column(1, 2);
            }

            li{
                margin: 0;
                @include orientation(landscape){
                    @include grid-column(1, 2);
                }
                &::before{
                    content: '';
                    height: 1.5rem;
                    width: 1.5rem;
                    background: url(../../images/logos/dev.png);
                    display: inline-block;
                    margin: 0 1rem;
                }
            }
        }
    }
}