%content{
    margin: 1rem;

    p{
        font-family: $body-font;
        font-size: $font-size;
    }
    img{
        @include orientation('portrait'){
            @include max-weight(500){
                width: 3rem;
                height: 3rem;
            }
        }
    }
}
$color: true;
.section_me{
    margin: 0;
    padding: 0;
    position: relative;
    .about_me{
        margin: 0;
        background-color: $dark_blue;
        color: $white;

        h2#title_about_me{
            @include title();
        }
        #description_about_me{
            width: 100vw;
            @include orientation('portrait'){
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            @include orientation('landscape'){
                display: grid;
                @include grid-columns(2, 1fr, 1rem);
                justify-content: center;
                align-items: center;
                & > *{
                    padding-bottom: 1rem;
                 }
            }
            p{
                @include text();
            }
            img.img_about{
                @include img();
                position: relative;
                @include max-weight(500){
                    width: 90vw;
                    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
                }
                clip-path: inset(13% 5% 12% 15%);
                border-radius: 1rem;
            }
        }
    }

    height: 8rem;
    .gallery{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .content{
            @extend %content;
        }
    }
}