%button{
    margin: 0.5rem 1rem;
        height: 2rem;
        width: 4rem;
        font-family: $title-font;
        font-size: $font-medium;
        text-align: center;
}

#div_button{
    @include grid-column(7, 11);
    @include min-weight(700){
        @include grid-column(6, 10);
    }
    @include min-weight(900){
        @include grid-column(5, 9);
    }
    // height: 2rem;
    display: flex;
    justify-content: flex-end;
    .button_lenguage{
        @extend %button;
        background-color: $dark_green;
        border: 1px solid black;
        font-family: $body-font;
        font-size: $font-medium;
        border: 0.5rem;
        @include shadowBox();
        cursor: pointer;
        &:hover{
            background-color: $lemon_green;
        }
    }
}