.container_card{
    display: grid;
    @include max-weight(500){
        display: flex;
        flex-direction: column;
    }
    justify-content: center;
    align-items: center;
    background: linear-gradient( to right ,$gold, $white);
    width: 90vw;
    margin: 1rem;
    border: 4px solid $black;
    border-radius: 1rem;
    @include min-weight(900){
        width: 70vw;
    }
    @include min-weight(1200){
        width: 50vw;
    }
    .container_text{
        @include grid-column(1, 2);
        display: flex;
        width: 1fr;
        padding-left: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include min-weight(501){
            width: 45vw;
        }
        @include min-weight(900){
            width: 35vw;
        }
        @include min-weight(1200){
            width: 25vw;
        }

        .section_h1{
            position: relative;
            font-family: $title-font;
            font-size: $font-medium;
            @include min-weight(501){
                font-size: $font-large;
            }
            @include min-weight(650){
                font-size: $font-xlarge;
            }
            @include min-weight(1000){
                font-size: $font-xxlarge;
            }
        }
        .p_section{
            position: relative;
            font-family: $body-font;
            font-size: $font-medium;
            @include min-weight(501){
                $font-size: $font-large;
            }
            @include min-weight(650){
                $font-size: $font-xlarge;
            }
            @include min-weight(1000){
                $font-size: $font-large;
            }
        }
    }
    .container_image{
        @include grid-column(2, 3);
        width: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        @include max-weight(530){
           @include orientation(portrait){
            // width: 80vw;
            // height: 60vh;
            background: linear-gradient( to left ,$gold, $white) ;
           }
        }
        @include min-weight(531){
            @include grid-column(2, 3);
            height: 25rem;
            text-align: center;
        }
        @include min-weight(901){
            height: 35rem;
        }

        .img_card{
            @include img();
            position: relative;
        }
    }
}