$primary_color:#F4F0D6;
$secondary_color:#5B6735;
$tertiary_color:#D39B59;
$quaternary_color:#B56824;
$quaternary_color:#B56824;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100;1,300&display=swap');
$font_body: 'Chivo Mono';
$font_title: monospace;
//font-size
$font_fist: 0.8em;
$font_second: 1em;
$font_third: 1.4em;
$font_fourth: 1.6em;


//sizes
$small: 320px;
$medium: 768px;
$large: 1024px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary_color;
    width: 100%;
}

@import "modules/headers";
@import "estado/button_header";
@import "modules/section_index";
@import "base/base_index";